.column {
  width: 33%;
  padding: 24px 16px 142px 24px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  div {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    .spanLeft {
      color: #939BB2;
      .spanRight {
        float: right;
      }
    }
  }
}