.table-search {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 1.3em;
    margin-right: 24px;
  }

  &__input {
    margin-right: 24px;
    width: 230px;
  }
}
