.DS_Store
.git
masscrm_back/node_modules
masscrm_back/public/hot
masscrm_back/public/storage
masscrm_back/storage/*.key
masscrm_back/storage/api-docs
masscrm_back/vendor
masscrm_back/.env
masscrm_back/.env.backup
masscrm_back/.phpunit.result.cache
masscrm_back/Homestead.json
masscrm_back/Homestead.yaml
masscrm_back/npm-debug.log
masscrm_back/yarn-error.log
masscrm_back/ide_helper.php
masscrm_back/docker/local
masscrm_back/.idea/
masscrm_front/idea/
masscrm_front/node_modules
masscrm_front/package-lock.json
masscrm_front/dist
masscrm_front/.env
masscrm_front/debug.log
masscrm_front/*.log
postgres-db/
logs/
redis-data/
.idea/
