.mainForm {
  height: 100vh;
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.logo {
  width: 140px;
  height: 43px;
  position: absolute;
  top: 50px;
}

.mainBlock {
  width: 472px;
  height: 507px;
  background: #ffffff;
  box-shadow: 0 10px 15px rgba(5, 31, 43, 0.05);
  border-radius: 8px;
}

.title {
  position: static;
  left: 125px;
  margin-top: 56px;
  margin-bottom: 40px;
  font-family: Roboto, Arial, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 33px;
  text-align: center;
  color: #212121;
}

.loginLabel {
  display: flex;
  flex-direction: row;
  margin-left: 56px;

  .loginSubLabel1 {
    color: #78829d;
  }

  .loginSubLabel2 {
    margin-left: 16px;
  }
}

.inputBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.helperText {
  width: 363px;
  height: 51px;
  margin-bottom: 40px;
  font-size: 0.86em;
  font-family: Roboto, Arial, serif;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  color: #78829d;
}

.infoBlock {
  width: 570px;
  height: 156px;
  background: #ffffff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto, Arial, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.14em;
  line-height: 200%;
}

.input {
  margin-bottom: 16px;

  &-big {
    margin-bottom: 32px;
  }
}

.info {
  width: 458px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
