.form {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  border: 1px solid rgba(205, 214, 225, 0.3);
  border-radius: 8px;
  overflow: hidden;

  &__header {
    padding: 24px;
    box-sizing: border-box;
    background: #fff;
    border: none;
    outline: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__body {
    box-sizing: border-box;
    padding: 0 24px 24px;
  }

  &__title {
    font-size: 1.35em;
    font-family: 'Roboto', Arial, serif;
  }

  &-btn {
    margin: 20px 0 0 -8px;
  }

  &-textarea {
    width: 230px;
    height: 116px;
  }
}

.list-transition {

  &-enter-active,
  &-appear-activem,
  &-exit-active {
    transition: all 400ms;
  }
}

.add-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 360px;

  &__item {
    width: 20%;
    padding: 15px 0;
    max-width: 230px;

    &_empty {
      padding: 15px 0;
      height: 40px;
    }
  }

  &__align {
    padding: 10px 0;
  }
}

.wrap {
  background: #fff;
  display: flex;
  padding-bottom: 24px;
}

.create-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  height: 605px;

  @media screen and (max-width: 1300px) {
    align-items: center;
    height: 1170px;
  }

  margin-top: -24px;
  padding-left: 20px;


  &:first-child {
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 0;
    border-right: 1px solid #e5e9f0;
  }

  &__item {
    width: 230px;
    padding: 12px 20px;

    &:empty {
      padding: 0;
    }
  }

  &__text {
    width: 230px;
    height: 105px;
    position: absolute;
  }

  &-btn {
    text-align: center;
  }

}