.wrapper {
  width: 552px;
  background: #fff;
  border-radius: 8px;

  .close {
    position: absolute;
    right: 8px;
    top: 8px;
  }

  .item {
    padding: 24px;
    &__title {
      margin: 0;
      font-family: Roboto, Arial, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #212121;
    }

    &__info {
      margin-top: 40px;

      div {
        padding-bottom: 8px;
      }

      .name {
        font-family: Roboto, Arial, serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #13639d;
      }

      .created {
        font-family: Roboto, Arial, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #78829d;
      }

      .date {
        font-family: Roboto, Arial, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #212121;
      }

      .responsible {
        font-family: Roboto, Arial, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #78829d;
      }

      .responsiblePerson {
        width: 71px;
        height: 18px;
        font-family: Roboto, Arial, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #212121;
      }
    }
  }
}

.wrapperTwo,
.wrapperThree {
  text-align: center;
  min-width: 500px;
  padding: 30px;
}

.wrapperThree {
  padding: 0 30px;
}

.question,
.occupied {
  font-family: Roboto, Arial, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
}

.buttons {
  margin-top: 40px;
}
