.icon {
  width: 24px;
  height: 24px;

  .parent-style {
    fill: #dadada;
    .change {
      fill: currentColor;
    }
  }

  &:hover {
    cursor: pointer;
    .parent-style {
      fill: #69738f;
      .change {
        fill: currentColor;
      }
    }
  }
}
