.table-tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 12px;


  &_item{
    display: flex;
    justify-content: flex-end;
  }

  &__icon {
    padding: 0 5px;
    color: #dadada !important;
    :hover {
      color: #69738f !important;
    }
  }

  .tooltip {
    position: relative;
  }

  .tooltip .tooltipText {
    visibility: hidden;
    font-size: 10px;
    background-color: white;
    color: #69738f;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding: 5px;
    position: absolute;
    width: 130px;
    z-index: 1;
    bottom: 130%;
    right: 10%;
  }
  .tooltip .tooltipFilterText {
    visibility: hidden;
    font-size: 10px;
    background-color: white;
    color: #69738f;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding: 5px;
    position: absolute;
    width: 130px;
    z-index: 1;
    bottom: 115%;
    right: 10%;
  }
  .tooltip:hover .tooltipText{
    visibility: visible;
  }
  .tooltip:hover .tooltipFilterText{
    visibility: visible;
  }
}

.preExport {
  &__question {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #212121;
  }
  &__checkboxBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin-left: 20px;
    }
  }
}

@media only screen and (max-width: 1493px) {
  .table-tools {
    flex-direction: column-reverse;
    align-items: flex-start;

    &_item{
      margin-left: -10px;
      margin-bottom: 10px;
    }
  }
}
