.wrapper {
  border: 1px solid #E5E9F0;
  border-radius: 8px;
  transition: .5s;
  padding: 24px;
  background: #FFFFFF;
  margin-bottom: 16px;
  flex-basis: 27%;

  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background: #E5E9F0;
    cursor: pointer;
  }
}

.item-block {
  border-radius: 8px;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &__title {
    color: #939BB2;
    margin-right: 28px;
  }
}