.wrap {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  background: #fff;
  align-items: center;
}

.wrap-double {
  align-items: flex-start;
}

.icon {
  padding: 4px;
}

.search {
  width: 230px;
}
