.comment-edit {
  padding: 4px;
  background: #fff;

  &_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &_content {
    width: 290px;
    padding: 8px;
    max-height: 200px;
  }

  &_text {
    width: 290px;
    min-height: 200px;
  }
}


.icon {
  padding: 4px;
}

.comment-td {
  width: 290px;

  &_btn {
    display: flex;
    align-items: center;
    position: relative;
    background: transparent;
    border: none;
    outline: none;
  }

  &_more {
    color: #78829d;
  }

  &_content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
