.header {
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 28px;
    box-sizing: border-box;
    height: 50px;
    font-size: 1.2em;
    width: 100%;
  }

  &__nav {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__menu {
    margin-left: 60px;
    height: 100%;
  }

  &__notification-snackbar {
    display: flex;
    align-items: center;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    margin: 0 20px;
    border-bottom: solid 3px transparent;
    height: 100%;
    text-decoration: none;
    color: inherit;

    &:hover, &_active {
      border-color: #feda00;
    }
  }

  &__user {
    margin-left: 40px;
    color: #939bb2;
    padding: 0 8px;
  }

  &__btns {
    display: flex;
    align-items: center;


  }
}
