.export {
  margin-top: 45px;
  border-radius: 8px;
  overflow: hidden;
}

.data-mess {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: #939bb2;
  font-size: 1.29em;
  height: calc(100vh - 470px);

  p {
    margin: 0;
    padding: 0;
  }
}