.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E5E9F0;
  padding: 24px;
}

.title {
  font-size: 1.3em;
}

.total-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: #78829d;
    margin-right: 4px;
  }
}