.cell {
  &-edit {
    padding: 4px;
    background: #fff;

    &_btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &_search, &_input {
      width: 230px;
    }

  }
  &-icon {
    padding: 4px;
  }
}
