.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  &-contacts {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
  }
}

.title {
  color: #939BB2;
  margin-bottom: 8px;
}

.contact {
  color:#13639D;
  text-decoration-style: dashed;
  text-decoration-color: #939BB2;
  margin: 5px 15px 0 0;
  width: 32%;
  
  &-block {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    margin-bottom: 20px;
    max-height: 135px;
    overflow: auto;
  }
}

.spaceBetween {
  justify-content: space-between;
}