.wrapper {
  z-index: 1;
  position: absolute;
  top: 9px;
  left: 8px;
}

.mainTitle {
  height: 40px;
  width: 130px;
  font-family: Roboto, Arial, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.info {
  height: 40px;
  font-family: Roboto, Arial, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.wrapperTableRow {
  padding: 16px;
}
