.info {
  &-body {
    margin-top: 16px;
    background-color: #FFFFFF;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E5E9F0;
    box-sizing: border-box;
    padding: 0 24px;
  }

  &-tabs {
    button {
      float: left;
      border: none;
      outline: none;
      background-color: inherit;
      position: relative;
      margin: 16px 20px 0 0;
      padding: 8px 0 16px 0;
      font-family: Roboto, serif;
      font-size: 18px;
      line-height: 22px;
      text-decoration: none;
      color: #212121;

      &.active:before {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background: #FEDA00;
        bottom: -1px;
      }
    }

    &-tools {
      margin: 16px 24px 16px 0;
    }
  }

  &-content {
    margin: 16px 24px;
  }
}

.section {
  .title {
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #212121;
    margin: 16px 0;

    &_current {
      margin-left: 10px;

      &:before {
        content: '';
        position: absolute;
        left: -8px;
        background-color: #46C662;
        width: 2px;
        height: 20px;
      }
    }
  }

  &:last-child {
    border-top: 1px solid #E5E9F0;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  width: 33%;
  padding-right: 40px;
  box-sizing: border-box;

  &:nth-child(3n+3) {
    padding: 0;
  }

  &_item {
    margin-bottom: 16px;
  }
}

.previous-column {
  width: 33%;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px 16px 0 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.item {
  padding-right: 40px;
  box-sizing: border-box;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spanLeft {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #939BB2;
}

.spanRight {
  float: right;
  display: flex;
  align-items: center;
}

.columnValue {
  margin-right: 8px;
}