.mainBlock {
  width: 584px;
  height: 228px;
  background: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto, Arial, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.14em;
  line-height: 200%;
}

.mainTitle {
  width: 472px;
  font-family: Roboto, Arial, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
}

.titleLogin {
  width: 472px;
  font-family: Roboto, Arial, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
